<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
    <h1>회원정보</h1>
	<table border="1px" style="text-align: center">
        <tr>
            <td>회원번호</td>
            <td>회원아이디</td>
            <td>회원이름</td>
            <td>회원나이</td>
        </tr>
        <tr>
            <td th:text="${user.userNo}"></td>
            <td th:text="${user.userId}"></td>
            <td th:text="${user.userName}"></td>
            <td th:text="${user.userAge}"></td>
        </tr>
    </table>
</body>
</html>